<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/read.css}">
</head>
<!-- 부트스트랩 css: 교재와 동일한 양식-->
<!-- 타임리프 유틸리티 : java 클래스를 사용하도록 제공. 각각 객체에 맞는 메소드를 갖고있으며 그것을 잘 활용
    #strings(String 클래스) #numbers #dates(Date,Timestamp 클래스)
    #temporals(LocalDate, LocalDateTime 클래스)
 -->
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    글 수정하기 - Update [[${dto.idx}]] 번
                </div>
                <div class="card-body">
                    <form action="update" method="post">
                        <input type="hidden" name="link" th:value="${pageRequestDTO.link}">
                        <input type="hidden" name="ip" th:value="${#request.remoteAddr}">
                        <input type="hidden" name="idx" th:value="${dto.idx}">


                        <div class="input-group mb-3">
                            <span class="input-group-text col-2">제목</span>
                            <input th:if="${#strings.contains(dto.title, '[수정]')}" name="title" class="form-control" th:value="${dto.title}" readonly>

                            <input th:unless="${#strings.contains(dto.title, '[수정]')}" name="title" class="form-control"  th:value="'[수정]' + ${dto.title}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-2">내용</span>
                            <textarea name="content" class="form-control" rows="15" style="resize: none">[[${dto.content}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-2">작성자</span>
                            <input name="writer" class="form-control" th:value="${dto.writer}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-2">작성날짜</span>
                            <input name="createdAt" class="form-control" th:value="${#dates.format(dto.createdAt,'yyyy-MM-dd')}" readonly>
                        </div>
                        <div class="my-4" th:with="link=${pageRequestDTO.link}">
                            <!-- link 예시 : page=3&type=tc&keyword=hi 를 전달받아 목록과 수정 클릭 시 파라미터를 추가시킴-->
                            <div class="float-end">
                                <a th:href="|@{/community/list}?${link}|" class="text-decoration-none">
                                    <!-- href="/community/list?page=3&type=tc&keyword=hi" -->
                                    <button type="button" class="btn btn-primary">목록</button>
                                </a>

                                    <button type="submit" class="btn btn-secondary">수정</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<body>

</body>
</html>